.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main {
  flex: 1;
  padding: 16px;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.errorMessage {
  color: red;
  font-size: small;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin: 1rem 0;
}
