body {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.bloc-body-content {
  display: flex;
  align-items: center; /* aligne verticalement */
  gap: 75px;
}
