.header {
  background-color: #a5bbdc;
  color: whitesmoke;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
}

.sidebar {
  background-color: whitesmoke;
  padding: 20px;
  width: 200px;
  border: 3px solid #ccc;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  height: 78vh;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.buttons {
  padding: 10px 20px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #a5bbdc;
  color: whitesmoke;
  border: none;
  border-radius: 80px;
  cursor: pointer;
}

.footer-sidebar {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.top-sidebar {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.container {
  border-radius: 30px;
  border: 3px solid #ccc;
  padding: 20px;
  margin: 0 20px;
}
